* {
    font-family: arvo, verdana, Arial, Helvetica, 'Times New Roman';
    margin: 0;
    padding: 0;
}

<<<<<<< HEAD
=======
canvas {
    touch-action: none;
}

body {
    background-color: rgb(238, 238, 238);
}

>>>>>>> aa54893f431010f518f0046b373797d63c003788
.main-content-title {
    margin-top: 150px;
    margin-left: 40px;
    font-size: 28px;
    font-weight: 200;
    text-decoration: underline;
    cursor: default;
}

.simulation-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
<<<<<<< HEAD
=======
    margin-bottom: 130px;
>>>>>>> aa54893f431010f518f0046b373797d63c003788
}

.simulation-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 30px;
    font-style: italic;
}

.simulation-canvas {
    background-color: black;
    border-radius: 5px;
}

